In [1]:
from ipyparallel import Client
rc = Client()
print('Number of clusters running =', len(rc))
print('Client ids are:', rc.ids)
dview = rc[:]

Number of clusters running = 3
Client ids are: [0, 1, 2]

In [7]:
import logging

# Enable debug logging for boto3
logging.getLogger('boto3').setLevel(logging.DEBUG)
logging.getLogger('botocore').setLevel(logging.DEBUG)
logging.getLogger('s3transfer').setLevel(logging.DEBUG)

# Your existing code
import boto3

aws_access_key_id = "ASIAQ3EGRMGOSQOHF2V2"
aws_secret_access_key = "1OKPG6R+OZlcb2TJxtQT63v3JLo6cfmD8EXiAFa6"
aws_session_token = "FwoGZXIvYXdzED4aDIc/idbkM0l684TeLiK9AcCRP/aGCPem+NQqM1PdIA4OtCLUlQg1+EE7J151FEad6w/AI/j8mjbSPX4dd/rF7CLnQqsWQ/8lGIh9Qn4I9slzSJj348NQkFXwSPDzx+mqJ3hhA4nvERC2MCH7kFTPNV25lDqFNK+gi6CVlEIECFunzYn7ci3S6HTs9HiJcFlGZ7eodmOXLH9OfCwV4yaZ57zA3f2UJEFucVH2gCtn7Pa25i5J+W8L95wz8FH3oPuMAi8Wgs2Arh3gg/qYTyjWka6wBjItAGp1KKBqAKVoI01HcNKFERqyV3RQE8rtUTsTeFShiWOGN13xhk/UKLGNq0QR"

s3 = boto3.resource('s3',
                    aws_access_key_id="ASIAQ3EGRMGOSQOHF2V2",
                    aws_secret_access_key="1OKPG6R+OZlcb2TJxtQT63v3JLo6cfmD8EXiAFa6",
                    aws_session_token="FwoGZXIvYXdzED4aDIc/idbkM0l684TeLiK9AcCRP/aGCPem+NQqM1PdIA4OtCLUlQg1+EE7J151FEad6w/AI/j8mjbSPX4dd/rF7CLnQqsWQ/8lGIh9Qn4I9slzSJj348NQkFXwSPDzx+mqJ3hhA4nvERC2MCH7kFTPNV25lDqFNK+gi6CVlEIECFunzYn7ci3S6HTs9HiJcFlGZ7eodmOXLH9OfCwV4yaZ57zA3f2UJEFucVH2gCtn7Pa25i5J+W8L95wz8FH3oPuMAi8Wgs2Arh3gg/qYTyjWka6wBjItAGp1KKBqAKVoI01HcNKFERqyV3RQE8rtUTsTeFShiWOGN13xhk/UKLGNq0QR"
)

my_bucket = s3.Bucket('spark3bucket')
all_keys = []

for bucket_obj in my_bucket.objects.all():
    all_keys.append(bucket_obj.key)

print('Total number of json objects =', len(all_keys))

/usr/local/lib/python3.7/site-packages/boto3/compat.py:82: PythonDeprecationWarning: Boto3 will no longer support Python 3.7 starting December 13, 2023. To continue receiving service updates, bug fixes, and security updates please upgrade to Python 3.8 or later. More information can be found here: https://aws.amazon.com/blogs/developer/python-support-policy-updates-for-aws-sdks-and-tools/
  warnings.warn(warning, PythonDeprecationWarning)

Total number of json objects = 8056

In [5]:
%%px
def test1(keys):
    import json
    import boto3
    from collections import Counter
    
    bucket = 'spark3bucket'
    artistCounter = {}
    songCounter = {}
    
    s3 = boto3.client('s3')
    
    for key in keys:
        obj = s3.get_object(Bucket=bucket, Key=str(key))
        obj = json.loads(obj['Body'].read())
        
        try:
            # Avoid keeping count for 'None' artist
            if obj['artist']:
                artistCounter[str(obj['artist'])] += 1
        except:
            artistCounter[str(obj['artist'])] = 1
        
        try:
            # Avoid keeping count for 'None' song
            if obj['song']:
                songCounter[str(obj['song'])] += 1
        except:
            songCounter[str(obj['song'])] = 1
            
    return Counter(artistCounter), Counter(songCounter)

In [8]:
import boto3
import time
import logging

# Enable debug logging for boto3
logging.getLogger('boto3').setLevel(logging.DEBUG)
logging.getLogger('botocore').setLevel(logging.DEBUG)
logging.getLogger('s3transfer').setLevel(logging.DEBUG)

aws_access_key_id = "ASIAQ3EGRMGOSQOHF2V2"
aws_secret_access_key = "1OKPG6R+OZlcb2TJxtQT63v3JLo6cfmD8EXiAFa6"
aws_session_token = "FwoGZXIvYXdzED4aDIc/idbkM0l684TeLiK9AcCRP/aGCPem+NQqM1PdIA4OtCLUlQg1+EE7J151FEad6w/AI/j8mjbSPX4dd/rF7CLnQqsWQ/8lGIh9Qn4I9slzSJj348NQkFXwSPDzx+mqJ3hhA4nvERC2MCH7kFTPNV25lDqFNK+gi6CVlEIECFunzYn7ci3S6HTs9HiJcFlGZ7eodmOXLH9OfCwV4yaZ57zA3f2UJEFucVH2gCtn7Pa25i5J+W8L95wz8FH3oPuMAi8Wgs2Arh3gg/qYTyjWka6wBjItAGp1KKBqAKVoI01HcNKFERqyV3RQE8rtUTsTeFShiWOGN13xhk/UKLGNq0QR"


# Create a Session object with the provided credentials
session = boto3.Session(
    aws_access_key_id= "ASIAQ3EGRMGOSQOHF2V2",
    aws_secret_access_key= "1OKPG6R+OZlcb2TJxtQT63v3JLo6cfmD8EXiAFa6",
    aws_session_token= "FwoGZXIvYXdzED4aDIc/idbkM0l684TeLiK9AcCRP/aGCPem+NQqM1PdIA4OtCLUlQg1+EE7J151FEad6w/AI/j8mjbSPX4dd/rF7CLnQqsWQ/8lGIh9Qn4I9slzSJj348NQkFXwSPDzx+mqJ3hhA4nvERC2MCH7kFTPNV25lDqFNK+gi6CVlEIECFunzYn7ci3S6HTs9HiJcFlGZ7eodmOXLH9OfCwV4yaZ57zA3f2UJEFucVH2gCtn7Pa25i5J+W8L95wz8FH3oPuMAi8Wgs2Arh3gg/qYTyjWka6wBjItAGp1KKBqAKVoI01HcNKFERqyV3RQE8rtUTsTeFShiWOGN13xhk/UKLGNq0QR"  # Include this line only if using temporary credentials
)

# Now you can create S3 resource or client using this session
s3 = session.resource('s3')



start = time.perf_counter()
dview.scatter('keys', all_keys)
#%px print(keys[:5])
%px y = [test1(keys)]
y = dview.gather('y')
print('Time taken to get all results = {:.4f}s'.format(time.perf_counter() - start))

%px:   0%|          | 0/3 [00:00<?, ?tasks/s]

Time taken to get all results = 138.0409s

In [9]:
from collections import Counter
import pandas as pd

artistCounter = Counter({})
songCounter = Counter({})

for (artists, songs) in y:
    artistCounter += artists
    songCounter += songs

artistCounter = pd.DataFrame(artistCounter.most_common(10),
                             columns=['Artist Name', 'Count'],
                             index=range(1, 11))
songCounter = pd.DataFrame(songCounter.most_common(10),
                           columns=['Song Name', 'Count'],
                           index=range(1, 11))

In [10]:
pd.set_option('display.max_colwidth', None)
print('Top 10 Artists are:')
display(artistCounter)
print('\n\nTop 10 Songs are:')
display(songCounter)

Top 10 Artists are:

               Artist Name  Count
1                 Coldplay     58
2            Kings Of Leon     55
3            Dwight Yoakam     38
4           The Black Keys     36
5             Jack Johnson     35
6                     Muse     35
7   Florence + The Machine     35
8                 BjÃÂ¶rk     33
9              The Killers     31
10              John Mayer     31

Top 10 Songs are:

                                                              Song Name  Count
1                                                        You're The One     37
2                                                                  Undo     28
3                                                               Revelry     27
4                                                         Sehr kosmisch     21
5   Horn Concerto No. 4 in E flat K495: II. Romance (Andante cantabile)     19
6                                                                Canada     17
7                                                               Secrets     17
8                                        Dog Days Are Over (Radio Edit)     16
9                                                         ReprÃÂ©sente     14
10                                                              Invalid     14